@scope (.breadcrumb) {
    ul:scope {
        /* Global Props */
        --radius: var(--radius-none);
        --bg: var(--color-transparent);
        --background-color: var(--bg);
        --w: var(--spacing-auto);
        --h: var(--spacing-auto);
        --width: var(--w);
        --height: var(--h);
        --p: var(--spacing-0);
        --pt: var(--p);
        --pr: var(--p);
        --pb: var(--p);
        --pl: var(--p);
        --px: var(--pl) var(--pr);
        --py: var(--pt) var(--pb);
        --padding: var(--py) var(--px);
        --m: var(--spacing-0);
        --mt: var(--m);
        --mb: var(--m);
        --mr: var(--m);
        --ml: var(--m);
        --mx: var(--ml) var(--mr);
        --my: var(--mt) var(--mb);
        --margin: var(--my) var(--mx);

        /* Global Props Assigned */
        border-radius: var(--radius);
        width: var(--width);
        height: var(--height);
        padding: var(--padding);
        padding-block: var(--py);
        padding-inline: var(--px);
        margin: var(--margin);
        margin-block: var(--my);
        margin-inline: var(--mx);
        background-color: var(--background-color);

        /* Default Styles */
        list-style: none;
        display: flex;
        flex-direction: row;

        /* Specific Props */
        --separator: '/';
        --separator-gap: var(--spacing-2);

        .breadcrumbItem {
            &:not(:last-child) {
                &:after {
                    content: var(--separator);
                    margin: 0 var(--separator-gap);
                }
            }
        }

    }
}

@scope (.breadcrumbItem) {
    li:scope {
        /* Global Props */
        --radius: var(--radius-none);
        --bg: var(--color-transparent);
        --background-color: var(--bg);
        --w: var(--spacing-auto);
        --h: var(--spacing-auto);
        --width: var(--w);
        --height: var(--h);
        --p: var(--spacing-0);
        --pt: var(--p);
        --pr: var(--p);
        --pb: var(--p);
        --pl: var(--p);
        --px: var(--pl) var(--pr);
        --py: var(--pt) var(--pb);
        --padding: var(--py) var(--px);
        --m: var(--spacing-0);
        --mt: var(--m);
        --mb: var(--m);
        --mr: var(--m);
        --ml: var(--m);
        --mx: var(--ml) var(--mr);
        --my: var(--mt) var(--mb);
        --margin: var(--my) var(--mx);

        /* Global Props Assigned */
        border-radius: var(--radius);
        width: var(--width);
        height: var(--height);
        padding: var(--padding);
        padding-block: var(--py);
        padding-inline: var(--px);
        margin: var(--margin);
        margin-block: var(--my);
        margin-inline: var(--mx);
        background-color: var(--background-color);

        /* Default Styles */
        display: inline-block;
    }
}
