{
  "extends": [
    "hardcore",
    "hardcore/fp",
    "hardcore/react",
    "hardcore/react-performance",
    "hardcore/ts",
    "plugin:readable-tailwind/error",
    "hardcore/prettier"
  ],
  "globals": {
    "Image": "off"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["readable-tailwind", "@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "new-cap": "off",
    "react/display-name": "off",
    "import/no-cycle": ["error", {"ignoreExternal": false, "maxDepth": 1}],
    "no-object-constructor": "off",
    "sonar/function-return-type": "off",
    "import/no-unused-modules": ["error", { "missingExports": true, "unusedExports": true, "ignoreExports": ["src/**/*.stories.tsx"] }],
    "@typescript-eslint/strict-boolean-expressions": "off",
    "@typescript-eslint/prefer-function-type": "off",
    "max-statements": "off",
    "react/jsx-props-no-spreading": "off",
    // These are required
    "compat/compat": "off",
    "regexp/require-unicode-regexp": "off",
    "regexp/require-unicode-sets-regexp": "off",
    "@typescript-eslint/no-misused-promises": "off",
    "total-functions/no-partial-division": "off",
    "react/jsx-no-bind": "off",
    "no-underscore-dangle": "off",
    "putout/putout": "off",
    "react/no-danger": "off",
    "react-perf/jsx-no-new-object-as-prop": "off",
    "readable-tailwind/multiline": ["error", { "printWidth": 100 }],
    "@typescript-eslint/prefer-readonly-parameter-types": "off",
    "no-restricted-syntax": [
      "error",
      "FunctionExpression",
      "FunctionDeclaration"
    ],
    "func-style": "off",
    "react/function-component-definition": [2, { "namedComponents": "arrow-function" }],
    "@typescript-eslint/naming-convention": "off",
    "unicorn/no-abusive-eslint-disable": "off",
    "eslint-comments/no-unlimited-disable": "off",
    "react/forbid-component-props": "off",
    "complexity": "off",
    "@typescript-eslint/no-shadow": ["error", {
      "ignoreTypeValueShadow": true
    }],
    "react/button-has-type": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "lines-around-comment": "off"
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "overrides": [
    {
      "files": ["*.test.*"],

      "rules": {
        "max-lines": ["error", 500]
      }
    }
  ]
}
