@scope(.ratio) {
    div:scope {
        /* Component Specific Props */
        --ratioX: 1;
        --ratioY: 1;
        --aspect-ratio: var(--ratioX) / var(--ratioY);

        /* Global Props */
        --radius: var(--radius-none);
        --bg: var(--color-transparent);
        --background-color: var(--bg);
        --w: var(--spacing-full);
        --h: var(--spacing-auto);
        --width: var(--w);
        --height: var(--h);
        --p: var(--spacing-0);
        --pt: var(--p);
        --pr: var(--p);
        --pb: var(--p);
        --pl: var(--p);
        --px: var(--pl) var(--pr);
        --py: var(--pt) var(--pb);
        --padding: var(--py) var(--px);
        --m: var(--spacing-0);
        --mt: var(--m);
        --mb: var(--m);
        --mr: var(--m);
        --ml: var(--m);
        --mx: var(--ml) var(--mr);
        --my: var(--mt) var(--mb);
        --margin: var(--my) var(--mx);

        /* Default Styles */
        position: relative;

        /* Component Specific Props Assigned */
        aspect-ratio: var(--aspect-ratio);

        /* Global Props Assigned */
        background-color: var(--background-color);
        width: var(--width);
        height: var(--height);
        padding: var(--padding);
        padding-block: var(--py);
        padding-inline: var(--px);
        margin: var(--margin);
        margin-block: var(--my);
        margin-inline: var(--mx);
        border-radius: var(--radius);

        > * {
            width: 100%;
            height: 100%;
        }

        &[data-ratio="6/13"], &[data-ratio="phone"] {
            --ratioX: 6;
            --ratioY: 13;
        }

        &[data-ratio="4/3"], &[data-ratio="fullscreen"], &[data-ratio="landscape"], &[data-ratio="horizontal"] {
            --ratioX: 4;
            --ratioY: 3;
        }


        &[data-ratio="3/4"], &[data-ratio="portrait"], &[data-ratio="vertical"], &[data-ratio="tall"] {
            --ratioX: 3;
            --ratioY: 4;
        }

        &[data-ratio="16/9"], &[data-ratio="widescreen"] {
            --ratioX: 16;
            --ratioY: 9;
        }

        &[data-ratio="16/10"], &[data-ratio="golden"] {
            --ratioX: 16;
            --ratioY: 10;
        }

        &[data-ratio="21/9"], &[data-ratio="ultrawide"] {
            --ratioX: 21;
            --ratioY: 9;
        }

        &[data-ratio="1/2"], &[data-ratio="half"] {
            --ratioX: 1;
            --ratioY: 2;
        }

        &[data-ratio="1/3"], &[data-ratio="third"] {
            --ratioX: 1;
            --ratioY: 3;
        }

        &[data-ratio="1/4"], &[data-ratio="quarter"] {
            --ratioX: 1;
            --ratioY: 4;
        }

        &[data-ratio="1/5"], &[data-ratio="fifth"] {
            --ratioX: 1;
            --ratioY: 5;
        }

        &[data-ratio="1/6"], &[data-ratio="sixth"] {
            --ratioX: 1;
            --ratioY: 6;
        }

        &[data-ratio="1/7"], &[data-ratio="seventh"] {
            --ratioX: 1;
            --ratioY: 7;
        }

        &[data-ratio="1/8"], &[data-ratio="eighth"] {
            --ratioX: 1;
            --ratioY: 8;
        }

        &[data-ratio="1/9"], &[data-ratio="ninth"] {
            --ratioX: 1;
            --ratioY: 9;
        }

        &[data-ratio="1/10"], &[data-ratio="tenth"] {
            --ratioX: 1;
            --ratioY: 10;
        }

        &[data-ratio="1/11"], &[data-ratio="eleventh"] {
            --ratioX: 1;
            --ratioY: 11;
        }

        &[data-ratio="1/12"], &[data-ratio="twelfth"] {
            --ratioX: 1;
            --ratioY: 12;
        }

        &[data-ratio="2/1"], &[data-ratio="half-y"] {
            --ratioX: 2;
            --ratioY: 1;
        }

        &[data-ratio="3/1"], &[data-ratio="third-y"] {
            --ratioX: 3;
            --ratioY: 1;
        }

        &[data-ratio="4/1"], &[data-ratio="quarter-y"] {
            --ratioX: 4;
            --ratioY: 1;
        }

        &[data-ratio="5/1"], &[data-ratio="fifth-y"] {
            --ratioX: 5;
            --ratioY: 1;
        }

        &[data-ratio="6/1"], &[data-ratio="sixth-y"] {
            --ratioX: 6;
            --ratioY: 1;
        }

        &[data-ratio="7/1"], &[data-ratio="seventh-y"] {
            --ratioX: 7;
            --ratioY: 1;
        }

        &[data-ratio="8/1"], &[data-ratio="eighth-y"] {
            --ratioX: 8;
            --ratioY: 1;
        }

        &[data-ratio="9/1"], &[data-ratio="ninth-y"] {
            --ratioX: 9;
            --ratioY: 1;
        }

        &[data-ratio="10/1"], &[data-ratio="tenth-y"] {
            --ratioX: 10;
            --ratioY: 1;
        }

        &[data-ratio="11/1"], &[data-ratio="eleventh-y"] {
            --ratioX: 11;
            --ratioY: 1;
        }

        &[data-ratio="12/1"], &[data-ratio="twelfth-y"] {
            --ratioX: 12;
            --ratioY: 1;
        }
    }
}
