@scope (.button) {
    button:scope {
        /* Default style */
        font-size: var(--font-size-base);
        border-radius: var(--radius-sm);
        background-color: var(--color-neutrals-0);
        color: var(--color-text);
        border: 1px solid var(--color-neutrals-8);
        padding: var(--spacing-2) var(--spacing-4);
        box-shadow: var(--shadow-sm);
        transition: color 400ms ease-in-out, background-color 400ms ease-in-out;

        &:hover {
            background-color: var(--color-neutrals-6);
            border-color: var(--color-neutrals-10);
            color: var(--color-text)
        }

        /*@apply text-base rounded-sm bg-neutrals-0 dark:bg-neutrals-26 hover:bg-neutrals-4 dark:hover:bg-neutrals-22 text-neutrals-10 dark:text-neutrals-0 dark:hover:text-neutrals-0 px-4 py-2 border border-neutrals-8 shadow-sm transition-colors duration-200 ease-in-out;*/

        &[data-size='lg'] {
            font-size: var(--font-size-lg);
        }

        &[data-size='sm'] {
            font-size: var(--font-size-sm);
        }

        &[data-variant='danger'] {
            background-color: var(--color-danger);
            border-color: var(--color-danger);
            color: var(--color-text-inverse);
            /*@apply bg-danger-default text-white dark:bg-danger-dark dark:text-white hover:bg-danger-hover;*/

            &:hover {
                background-color: var(--color-danger-hover);
                border-color: var(--color-danger-hover);
            }
        }

        &[data-variant='info'] {
            background-color: var(--color-info);
            border-color: var(--color-info);
            color: var(--color-text-inverse);
            /*@apply bg-info-default text-white dark:bg-info-dark dark:text-white hover:bg-info-hover;*/

            &:hover {
                background-color: var(--color-info-hover);
                border-color: var(--color-info-hover);
            }
        }

        &[data-variant='success'] {
            background-color: var(--color-success);
            border-color: var(--color-success);
            color: var(--color-text);
            /*@apply bg-success-default text-white dark:bg-success-dark dark:text-white hover:bg-success-hover;*/

            &:hover {
                background-color: var(--color-success-hover);
                border-color: var(--color-success-hover);
            }
        }

        &[data-variant='warning'] {
            background-color: var(--color-warning);
            border-color: var(--color-warning);
            color: var(--color-text);
            /*@apply bg-warning-default text-white dark:bg-warning-dark dark:text-white hover:bg-warning-hover;*/

            &:hover {
                background-color: var(--color-warning-hover);
                border-color: var(--color-warning-hover);
                color: var(--color-text);
            }
        }
    }
}
