@scope (.button) {
    button:scope {
        --size: var(--font-size-base);
        --radius: var(--radius-sm);
        --bg: var(--color-neutrals-0);
        --color: var(--color-text);
        --border: 1px solid var(--color-neutrals-8);
        --paddingX: var(--spacing-4);
        --paddingY: var(--spacing-2);
        --padding: var(--paddingY) var(--paddingX);
        --shadow: var(--shadow-sm);
        --transitionFunction: var(--default-transition-duration);
        --transitionTiming: var(--default-transition-timing-function);
        --transitionProperties: color, background-color;

        /* Default style */
        font-size: var(--size);
        border-radius: var(--radius);
        background-color: var(--bg);
        color: var(--color);
        border: var(--border);
        padding: var(--padding);
        box-shadow: var(--shadow);
        transition-property: var(--transitionProperties);
        transition-timing-function: var(--transitionFunction);
        transition-duration: var(--transitionTiming);

        &:hover {
            background-color: var(--color-neutrals-6);
            border-color: var(--color-neutrals-10);
            color: var(--color-text)
        }

        /*@apply text-base rounded-sm bg-neutrals-0 dark:bg-neutrals-26 hover:bg-neutrals-4 dark:hover:bg-neutrals-22 text-neutrals-10 dark:text-neutrals-0 dark:hover:text-neutrals-0 px-4 py-2 border border-neutrals-8 shadow-sm transition-colors duration-200 ease-in-out;*/

        &[data-variant='danger'] {
            background-color: var(--color-danger);
            border-color: var(--color-danger);
            color: var(--color-danger-text);
            /*@apply bg-danger-default text-white dark:bg-danger-dark dark:text-white hover:bg-danger-hover;*/

            &:hover {
                background-color: var(--color-danger-hover);
                border-color: var(--color-danger-hover);
            }
        }

        &[data-variant='info'] {
            background-color: var(--color-info);
            border-color: var(--color-info);
            color: var(--color-info-text);
            /*@apply bg-info-default text-white dark:bg-info-dark dark:text-white hover:bg-info-hover;*/

            &:hover {
                background-color: var(--color-info-hover);
                border-color: var(--color-info-hover);
            }
        }

        &[data-variant='success'] {
            background-color: var(--color-success);
            border-color: var(--color-success);
            color: var(--color-success-text);
            /*@apply bg-success-default text-white dark:bg-success-dark dark:text-white hover:bg-success-hover;*/

            &:hover {
                background-color: var(--color-success-hover);
                border-color: var(--color-success-hover);
            }
        }

        &[data-variant='warning'] {
            background-color: var(--color-warning);
            border-color: var(--color-warning);
            color: var(--color-warning-text);
            /*@apply bg-warning-default text-white dark:bg-warning-dark dark:text-white hover:bg-warning-hover;*/

            &:hover {
                background-color: var(--color-warning-hover);
                border-color: var(--color-warning-hover);
            }
        }
    }
}
