@scope (.divider) {
    hr:scope {
        /* Component Specific Props */
        --color: var(--color-neutrals-26);
        --size: 3px;
        --style: solid;
        --width: auto;

        /* Global Props */
        --bg: var(--color-neutrals-0);
        --background-color: var(--bg);
        --w: var(--spacing-auto);
        --h: var(--spacing-auto);
        --p: var(--spacing-0);
        --pt: var(--p);
        --pr: var(--p);
        --pb: var(--p);
        --pl: var(--p);
        --px: var(--pl) var(--pr);
        --py: var(--pt) var(--pb);
        --padding: var(--py) var(--px);
        --m: var(--spacing-0);
        --mt: var(--m);
        --mb: var(--m);
        --mr: var(--m);
        --ml: var(--m);
        --mx: var(--ml) var(--mr);
        --my: var(--mt) var(--mb);
        --margin: var(--my) var(--mx);

        /* Global Props Assigned */
        padding: var(--padding);
        padding-block: var(--py);
        padding-inline: var(--px);
        margin: var(--margin);
        margin-block: var(--my);
        margin-inline: var(--mx);

        /* Default Styles */
        display: block;
        unicode-bidi: isolate;
        margin-inline-start: auto;
        margin-inline-end: auto;
        overflow: hidden;
        height: unset;

        /* Component Specific Props Assigned */
        color: var(--color);
        border-color: var(--color);
        border-style: var(--style);
        border-width: var(--size);
        border-bottom: 0;
        border-left: 0;
        width: var(--width);
    }
}
