@scope (.cell) {
    div:scope {
        --cell-columns: 1;
        --cell-rows: 1;

        --bg: var(--color-neutrals-0);
        --background-color: var(--bg);
        --w: var(--spacing-full);
        --h: var(--spacing-full);
        --width: var(--w);
        --height: var(--h);
        --p: var(--spacing-0);
        --pt: var(--p);
        --pr: var(--p);
        --pb: var(--p);
        --pl: var(--p);
        --px: var(--pl) var(--pr);
        --py: var(--pt) var(--pb);
        --padding: var(--py) var(--px);
        --m: var(--spacing-0);
        --mt: var(--m);
        --mb: var(--m);
        --mr: var(--m);
        --ml: var(--m);
        --mx: var(--ml) var(--mr);
        --my: var(--mt) var(--mb);
        --margin: var(--my) var(--mx);

        grid-column: span var(--cell-columns);
        grid-row: span var(--cell-rows);
        background-color: var(--background-color);
        width: var(--width);
        height: var(--height);
        padding: var(--padding);
        padding-block: var(--py);
        padding-inline: var(--px);
        margin: var(--margin);
        margin-block: var(--my);
        margin-inline: var(--mx);
    }
}

@scope (.grid) {
    div:scope {
        --grid-columns: 12;
        --grid-rows: auto;
        --gap: var(--spacing-2);
        --gapX: var(--gap);
        --gapY: var(--gap);
        --cell-size: 1fr;
        --bg: var(--color-neutrals-0);
        --background-color: var(--bg);
        --w: auto;
        --h: auto;
        --width: var(--w);
        --height: var(--h);
        --p: var(--spacing-0);
        --pt: var(--p);
        --pr: var(--p);
        --pb: var(--p);
        --pl: var(--p);
        --px: var(--pl) var(--pr);
        --py: var(--pt) var(--pb);
        --padding: var(--py) var(--px);
        --m: var(--spacing-0);
        --mt: var(--m);
        --mb: var(--m);
        --mr: var(--m);
        --ml: var(--m);
        --mx: var(--ml) var(--mr);
        --my: var(--mt) var(--mb);
        --margin: var(--my) var(--mx);

        display: grid;
        grid-template-columns: repeat(var(--grid-columns), var(--cell-size));
        grid-template-rows: var(--grid-rows);
        grid-gap: var(--gapY) var(--gapX);
        gap: var(--gapY) var(--gapX);
        background-color: var(--background-color);
        width: var(--width);
        height: var(--height);
        padding: var(--padding);
        padding-block: var(--py);
        padding-inline: var(--px);
        margin: var(--margin);
        margin-block: var(--my);
        margin-inline: var(--mx);
    }
}
