@scope (.accordion) {
    details:scope {
        /* Global Props */
        --radius: var(--radius-none);
        --bg: var(--color-transparent);
        --background-color: var(--bg);
        --w: var(--spacing-full);
        --h: var(--spacing-8);
        --width: var(--w);
        --height: var(--h);
        --p: var(--spacing-0);
        --pt: var(--p);
        --pr: var(--p);
        --pb: var(--p);
        --pl: var(--p);
        --px: var(--pl) var(--pr);
        --py: var(--pt) var(--pb);
        --padding: var(--py) var(--px);
        --m: var(--spacing-0);
        --mt: var(--m);
        --mb: var(--m);
        --mr: var(--m);
        --ml: var(--m);
        --mx: var(--ml) var(--mr);
        --my: var(--mt) var(--mb);
        --margin: var(--my) var(--mx);

        /* Global Props Assigned */
        border-radius: var(--radius);
        width: var(--width);
        height: var(--height);
        padding: var(--padding);
        padding-block: var(--py);
        padding-inline: var(--px);
        margin: var(--margin);
        margin-block: var(--my);
        margin-inline: var(--mx);
        background-color: var(--background-color);

        /* Default Styles */
        display: flex;
        cursor: pointer;
        justify-items: center;
        transition: all 0.7s ease-in-out;

        &[open] .summary:after {
            transform: rotate(90deg);
        }

        &[open] .content {
            max-height: 400px;
            transition: all 0.8s ease-in-out;
        }
    }
}

@scope (.summary) {
    summary:scope {
        /* Global Props */
        --radius: var(--radius-none);
        --bg: var(--color-transparent);
        --background-color: var(--bg);
        --w: unset;
        --h: var(--spacing-full);
        --width: var(--w);
        --height: var(--h);
        --p: var(--spacing-0);
        --pt: var(--p);
        --pr: var(--p);
        --pb: var(--p);
        --pl: var(--p);
        --px: var(--pl) var(--pr);
        --py: var(--pt) var(--pb);
        --padding: var(--py) var(--px);
        --m: var(--spacing-0);
        --mt: var(--m);
        --mb: var(--m);
        --mr: var(--m);
        --ml: var(--m);
        --mx: var(--ml) var(--mr);
        --my: var(--mt) var(--mb);
        --margin: var(--my) var(--mx);

        /* Global Props Assigned */
        border-radius: var(--radius);
        width: var(--width);
        height: var(--height);
        padding: var(--padding);
        padding-block: var(--py);
        padding-inline: var(--px);
        margin: var(--margin);
        margin-block: var(--my);
        margin-inline: var(--mx);
        background-color: var(--background-color);

        /* Component Specific Props */
        --gap: var(--spacing-2);

        /* Default Styles */
        display: flex;
        justify-items: center;
        overflow: hidden;

        /* Component Specific Props Assigned */
        gap: var(--gap);


        &:after {
            margin-left: auto;
            transition: transform 0.7s ease-in-out;
            content: '▶';
        }
    }
}

@scope (.content) {
    div:scope {
        /* Global Props */
        --radius: var(--radius-none);
        --bg: var(--color-transparent);
        --background-color: var(--bg);
        --w: var(--spacing-auto);
        --h: var(--spacing-auto);
        --width: var(--w);
        --height: var(--h);
        --p: var(--spacing-0);
        --pt: var(--p);
        --pr: var(--p);
        --pb: var(--p);
        --pl: var(--p);
        --px: var(--pl) var(--pr);
        --py: var(--pt) var(--pb);
        --padding: var(--py) var(--px);
        --m: var(--spacing-0);
        --mt: var(--m);
        --mb: var(--m);
        --mr: var(--m);
        --ml: var(--m);
        --mx: var(--ml) var(--mr);
        --my: var(--mt) var(--mb);
        --margin: var(--my) var(--mx);

        /* Global Props Assigned */
        border-radius: var(--radius);
        width: var(--width);
        height: var(--height);
        padding: var(--padding);
        padding-block: var(--py);
        padding-inline: var(--px);
        margin: var(--margin);
        margin-block: var(--my);
        margin-inline: var(--mx);
        background-color: var(--background-color);

        /* Default Styles */
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }
}
