@scope (.progressBar) {
    div:scope {
        /* Global Props */
        --radius: var(--radius-none);
        --bg: var(--color-transparent);
        --background-color: var(--bg);
        --w: var(--spacing-auto);
        --h: var(--spacing-auto);
        --width: var(--w);
        --height: var(--h);
        --p: var(--spacing-0);
        --pt: var(--p);
        --pr: var(--p);
        --pb: var(--p);
        --pl: var(--p);
        --px: var(--pl) var(--pr);
        --py: var(--pt) var(--pb);
        --padding: var(--py) var(--px);
        --m: var(--spacing-0);
        --mt: var(--m);
        --mb: var(--m);
        --mr: var(--m);
        --ml: var(--m);
        --mx: var(--ml) var(--mr);
        --my: var(--mt) var(--mb);
        --margin: var(--my) var(--mx);

        /* Global Props Assigned */
        border-radius: var(--radius);
        width: var(--width);
        height: var(--height);
        padding: var(--padding);
        padding-block: var(--py);
        padding-inline: var(--px);
        margin: var(--margin);
        margin-block: var(--my);
        margin-inline: var(--mx);
        background-color: var(--background-color);

        /* Specific Props */
        --progress: 0;
        --progress-color: var(--color-progress);
        --progress-start: 0;
        --progress-end: var(--progress);

        /* Specific Props Assigned */
        position: relative;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: var(--progress-start);
            width: var(--progress-end);
            height: 100%;
            background-color: var(--progress-color);
        }

    }
}
