@scope (.table) {
    table:scope {
        /* Global Props */
        --radius: var(--radius-none);
        --bg: var(--color-transparent);
        --background-color: var(--bg);
        --w: var(--spacing-full);
        --h: var(--spacing-auto);
        --width: var(--w);
        --height: var(--h);
        --p: var(--spacing-0);
        --pt: var(--p);
        --pr: var(--p);
        --pb: var(--p);
        --pl: var(--p);
        --px: var(--pl) var(--pr);
        --py: var(--pt) var(--pb);
        --padding: var(--py) var(--px);
        --m: var(--spacing-0);
        --mt: var(--m);
        --mb: var(--m);
        --mr: var(--m);
        --ml: var(--m);
        --mx: var(--ml) var(--mr);
        --my: var(--mt) var(--mb);
        --margin: var(--my) var(--mx);

        /* Global Props Assigned */
        border-radius: var(--radius);
        width: var(--width);
        height: var(--height);
        padding: var(--padding);
        padding-block: var(--py);
        padding-inline: var(--px);
        margin: var(--margin);
        margin-block: var(--my);
        margin-inline: var(--mx);
        background-color: var(--background-color);

        /* Table Props */
        --border-collapse: collapse;
        --border-color: var(--color-neutrals-10);
        --border-style: solid;
        --border-width: var(--spacing-px);
        --border: var(--border-width) var(--border-style) var(--border-color);

        /* Table Props Assigned */
        border-collapse: var(--border-collapse);
        border: var(--border);

    }
}

@scope (.thead) {
    thead:scope {
        /* Global Props */
        --radius: var(--radius-none);
        --bg: var(--color-transparent);
        --background-color: var(--bg);
        --w: var(--spacing-auto);
        --h: var(--spacing-auto);
        --width: var(--w);
        --height: var(--h);
        --p: var(--spacing-0);
        --pt: var(--p);
        --pr: var(--p);
        --pb: var(--p);
        --pl: var(--p);
        --px: var(--pl) var(--pr);
        --py: var(--pt) var(--pb);
        --padding: var(--py) var(--px);
        --m: var(--spacing-0);
        --mt: var(--m);
        --mb: var(--m);
        --mr: var(--m);
        --ml: var(--m);
        --mx: var(--ml) var(--mr);
        --my: var(--mt) var(--mb);
        --margin: var(--my) var(--mx);

        /* Global Props Assigned */
        border-radius: var(--radius);
        width: var(--width);
        height: var(--height);
        padding: var(--padding);
        padding-block: var(--py);
        padding-inline: var(--px);
        margin: var(--margin);
        margin-block: var(--my);
        margin-inline: var(--mx);
        background-color: var(--background-color);

        /* Table Head Props */
        --border-color: var(--color-neutrals-10);
        --border-style: solid;
        --border-width: var(--spacing-px);
        --border: var(--border-width) var(--border-style) var(--border-color);

        /* Table Head Props Assigned */
        border-bottom: var(--border);
    }
}

@scope (.th) {
    th:scope {
        /* Global Props */
        --radius: var(--radius-none);
        --bg: var(--color-transparent);
        --background-color: var(--bg);
        --w: var(--spacing-auto);
        --h: var(--spacing-auto);
        --width: var(--w);
        --height: var(--h);
        --p: var(--spacing-2);
        --pt: var(--p);
        --pr: var(--p);
        --pb: var(--p);
        --pl: var(--p);
        --px: var(--pl) var(--pr);
        --py: var(--pt) var(--pb);
        --padding: var(--py) var(--px);
        --m: var(--spacing-0);
        --mt: var(--m);
        --mb: var(--m);
        --mr: var(--m);
        --ml: var(--m);
        --mx: var(--ml) var(--mr);
        --my: var(--mt) var(--mb);
        --margin: var(--my) var(--mx);

        /* Global Props Assigned */
        border-radius: var(--radius);
        width: var(--width);
        height: var(--height);
        padding: var(--padding);
        padding-block: var(--py);
        padding-inline: var(--px);
        margin: var(--margin);
        margin-block: var(--my);
        margin-inline: var(--mx);
        background-color: var(--background-color);

        --border-color: var(--color-neutrals-10);
        --border-style: solid;
        --border-width: var(--spacing-px);
        --border: var(--border-width) var(--border-style) var(--border-color);

        &:not(:first-child) {
            border-left: var(--border);
        }
    }
}

@scope (.tbody) {
    tbody:scope {
        /* Global Props */
        --radius: var(--radius-none);
        --bg: var(--color-transparent);
        --background-color: var(--bg);
        --w: var(--spacing-auto);
        --h: var(--spacing-auto);
        --width: var(--w);
        --height: var(--h);
        --p: var(--spacing-0);
        --pt: var(--p);
        --pr: var(--p);
        --pb: var(--p);
        --pl: var(--p);
        --px: var(--pl) var(--pr);
        --py: var(--pt) var(--pb);
        --padding: var(--py) var(--px);
        --m: var(--spacing-0);
        --mt: var(--m);
        --mb: var(--m);
        --mr: var(--m);
        --ml: var(--m);
        --mx: var(--ml) var(--mr);
        --my: var(--mt) var(--mb);
        --margin: var(--my) var(--mx);

        /* Global Props Assigned */
        border-radius: var(--radius);
        width: var(--width);
        height: var(--height);
        padding: var(--padding);
        padding-block: var(--py);
        padding-inline: var(--px);
        margin: var(--margin);
        margin-block: var(--my);
        margin-inline: var(--mx);
        background-color: var(--background-color);
    }
}

@scope (.td) {
    td:scope {
        /* Global Props */
        --radius: var(--radius-none);
        --bg: var(--color-transparent);
        --background-color: var(--bg);
        --w: var(--spacing-auto);
        --h: var(--spacing-auto);
        --width: var(--w);
        --height: var(--h);
        --p: var(--spacing-2);
        --pt: var(--p);
        --pr: var(--p);
        --pb: var(--p);
        --pl: var(--p);
        --px: var(--pl) var(--pr);
        --py: var(--pt) var(--pb);
        --padding: var(--py) var(--px);
        --m: var(--spacing-0);
        --mt: var(--m);
        --mb: var(--m);
        --mr: var(--m);
        --ml: var(--m);
        --mx: var(--ml) var(--mr);
        --my: var(--mt) var(--mb);
        --margin: var(--my) var(--mx);

        /* Global Props Assigned */
        border-radius: var(--radius);
        width: var(--width);
        height: var(--height);
        padding: var(--padding);
        padding-block: var(--py);
        padding-inline: var(--px);
        margin: var(--margin);
        margin-block: var(--my);
        margin-inline: var(--mx);
        background-color: var(--background-color);

        --border-color: var(--color-neutrals-10);
        --border-style: solid;
        --border-width: var(--spacing-px);
        --border: var(--border-width) var(--border-style) var(--border-color);

        border: var(--border);
    }
}

@scope (.tr) {
    tr:scope {
        /* Global Props */
        --radius: var(--radius-none);
        --bg: var(--color-transparent);
        --background-color: var(--bg);
        --w: var(--spacing-auto);
        --h: var(--spacing-auto);
        --width: var(--w);
        --height: var(--h);
        --p: var(--spacing-0);
        --pt: var(--p);
        --pr: var(--p);
        --pb: var(--p);
        --pl: var(--p);
        --px: var(--pl) var(--pr);
        --py: var(--pt) var(--pb);
        --padding: var(--py) var(--px);
        --m: var(--spacing-0);
        --mt: var(--m);
        --mb: var(--m);
        --mr: var(--m);
        --ml: var(--m);
        --mx: var(--ml) var(--mr);
        --my: var(--mt) var(--mb);
        --margin: var(--my) var(--mx);

        /* Global Props Assigned */
        border-radius: var(--radius);
        width: var(--width);
        height: var(--height);
        padding: var(--padding);
        padding-block: var(--py);
        padding-inline: var(--px);
        margin: var(--margin);
        margin-block: var(--my);
        margin-inline: var(--mx);
        background-color: var(--background-color);
    }
}


@scope (.tfoot)
{
tfoot:scope {
    /* Global Props */
    --radius:           var(--radius-none);
    --bg:               var(--color-neutrals-0);
    --background-color: var(--bg);
    --w:                unset;
    --h:                unset;
    --width:            var(--w);
    --height:           var(--h);
    --p:                var(--spacing-0);
    --pt:               var(--p);
    --pr:               var(--p);
    --pb:               var(--p);
    --pl:               var(--p);
    --px:               var(--pl) var(--pr);
    --py:               var(--pt) var(--pb);
    --padding:          var(--py) var(--px);
    --m:                var(--spacing-0);
    --mt:               var(--m);
    --mb:               var(--m);
    --mr:               var(--m);
    --ml:               var(--m);
    --mx:               var(--ml) var(--mr);
    --my:               var(--mt) var(--mb);
    --margin:           var(--my) var(--mx);

    /* Global Props Assigned */
    border-radius:      var(--radius);
    width:              var(--width);
    height:             var(--height);
    padding:            var(--padding);
    padding-block:      var(--py);
    padding-inline:     var(--px);
    margin:             var(--margin);
    margin-block:       var(--my);
    margin-inline:      var(--mx);
    background-color:   var(--background-color);
}

}
