@scope (.flex) {
    div:scope {
        /* Component Specific Props */
        --dir: column;
        --direction: var(--dir);
        --wrap: initial;
        --justify: initial;
        --items: initial;
        --content: initial;
        --gap: var(--spacing-2);
        --gapX: var(--gap);
        --gapY: var(--gap);
        --flex: unset;

        /* Global Props */
        --radius: var(--radius-none);
        --bg: var(--color-neutrals-0);
        --background-color: var(--bg);
        --w: unset;
        --h: unset;
        --width: var(--w);
        --height: var(--h);
        --p: var(--spacing-0);
        --pt: var(--p);
        --pr: var(--p);
        --pb: var(--p);
        --pl: var(--p);
        --px: var(--pl) var(--pr);
        --py: var(--pt) var(--pb);
        --padding: var(--py) var(--px);
        --m: var(--spacing-0);
        --mt: var(--m);
        --mb: var(--m);
        --mr: var(--m);
        --ml: var(--m);
        --mx: var(--ml) var(--mr);
        --my: var(--mt) var(--mb);
        --margin: var(--my) var(--mx);

        /* Default Styles */
        display: flex;

        /* Component Specific Props Assigned */
        flex: var(--flex);
        flex-direction: var(--direction);
        flex-wrap: var(--wrap);
        justify-content: var(--justify);
        align-items: var(--items);
        align-content: var(--content);
        gap: var(--gapY) var(--gapX);

        /* Global Props Assigned */
        width: var(--width);
        height: var(--height);
        padding: var(--padding);
        padding-block: var(--py);
        padding-inline: var(--px);
        margin: var(--margin);
        margin-block: var(--my);
        margin-inline: var(--mx);
        background-color: var(--background-color);
        border-radius: var(--radius);
    }
}
