@scope (.input) {
    input:scope {
        /* Global Props */
        --radius: var(--radius-md);
        --bg: var(--color-transparent);
        --background-color: var(--bg);
        --w: var(--spacing-full);
        --h: var(--spacing-10);
        --width: var(--w);
        --height: var(--h);
        --p: var(--spacing-3);
        --pt: var(--p);
        --pr: var(--p);
        --pb: var(--p);
        --pl: var(--p);
        --px: var(--pl) var(--pr);
        --py: var(--pt) var(--pb);
        --padding: var(--py) var(--px);
        --m: var(--spacing-0);
        --mt: var(--m);
        --mb: var(--m);
        --mr: var(--m);
        --ml: var(--m);
        --mx: var(--ml) var(--mr);
        --my: var(--mt) var(--mb);
        --margin: var(--my) var(--mx);
        --border-color: var(--color-neutrals-3);

        /* Global Props Assigned */
        border-radius: var(--radius);
        width: var(--width);
        height: var(--height);
        padding: var(--padding);
        padding-block: var(--py);
        padding-inline: var(--px);
        margin: var(--margin);
        margin-block: var(--my);
        margin-inline: var(--mx);
        background-color: var(--background-color);
        border: 1px solid var(--border-color);

        &[data-error] {
            --border-color: var(--color-danger);
        }

        &[data-disabled] {
            --bg: var(--color-neutrals-2);
            color: var(--color-neutrals-10);
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}
