@scope(.box) {
    div:scope {
        background-color: var(--color-neutrals-0);
        padding: var(--spacing-2);
        /*@apply bg-white dark:bg-gray-800 p-2*/

        &[data-size='xs'] {
            padding: var(--spacing-1);
        }

        &[data-size='md'] {
            padding: var(--spacing-4);
        }

        &[data-size='lg'] {
            padding: var(--spacing-8);
        }
    }
}
