@import "tailwindcss";
@layer theme, base, components, utilities;

:root {
    --color-transparent: transparent;

    --neutrals-base: 0.01 280;
    --neutrals-0: oklch(100% var(--neutrals-base));
    --neutrals-1: oklch(98% var(--neutrals-base));
    --neutrals-2: oklch(96% var(--neutrals-base));
    --neutrals-3: oklch(94% var(--neutrals-base));
    --neutrals-4: oklch(92% var(--neutrals-base));
    --neutrals-5: oklch(90% var(--neutrals-base));
    --neutrals-6: oklch(85% var(--neutrals-base));
    --neutrals-7: oklch(80% var(--neutrals-base));
    --neutrals-8: oklch(75% var(--neutrals-base));
    --neutrals-9: oklch(70% var(--neutrals-base));
    --neutrals-10: oklch(65% var(--neutrals-base));
    --neutrals-11: oklch(60% var(--neutrals-base));
    --neutrals-12: oklch(55% var(--neutrals-base));
    --neutrals-13: oklch(50% var(--neutrals-base));
    --neutrals-14: oklch(45% var(--neutrals-base));
    --neutrals-15: oklch(40% var(--neutrals-base));
    --neutrals-16: oklch(35% var(--neutrals-base));
    --neutrals-17: oklch(30% var(--neutrals-base));
    --neutrals-18: oklch(25% var(--neutrals-base));
    --neutrals-19: oklch(20% var(--neutrals-base));
    --neutrals-20: oklch(15% var(--neutrals-base));
    --neutrals-21: oklch(10% var(--neutrals-base));
    --neutrals-22: oklch(8% var(--neutrals-base));
    --neutrals-23: oklch(6% var(--neutrals-base));
    --neutrals-24: oklch(4% var(--neutrals-base));
    --neutrals-25: oklch(2% var(--neutrals-base));
    --neutrals-26: oklch(0% var(--neutrals-base));

    --spacing-full: 100%;
    --spacing-auto: auto;
}

@media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
        @layer custom {
            :root:not(.light) {
                --color-text: #ffffff;
                --color-text-inverse: #000000;
                --color-danger: #b10303;
                --color-danger-text: var(--color-text);
                --color-success: #00b809;
                --color-success-text: var(--color-text-inverse);
                --color-warning: #a68b02;
                --color-warning-text: var(--color-text-inverse);
                --color-info: #10169f;
                --color-info-text: var(--color-text);

                --color-disabled: color-mix(in oklch, var(--color-text), var(--color-neutrals-0) 65%);

                --color-neutrals-0: var(--neutrals-26);
                --color-neutrals-1: var(--neutrals-25);
                --color-neutrals-2: var(--neutrals-24);
                --color-neutrals-3: var(--neutrals-23);
                --color-neutrals-4: var(--neutrals-22);
                --color-neutrals-5: var(--neutrals-21);
                --color-neutrals-6: var(--neutrals-20);
                --color-neutrals-7: var(--neutrals-19);
                --color-neutrals-8: var(--neutrals-18);
                --color-neutrals-9: var(--neutrals-17);
                --color-neutrals-10: var(--neutrals-16);
                --color-neutrals-11: var(--neutrals-15);
                --color-neutrals-12: var(--neutrals-14);
                --color-neutrals-13: var(--neutrals-13);
                --color-neutrals-14: var(--neutrals-12);
                --color-neutrals-15: var(--neutrals-11);
                --color-neutrals-16: var(--neutrals-10);
                --color-neutrals-17: var(--neutrals-9);
                --color-neutrals-18: var(--neutrals-8);
                --color-neutrals-19: var(--neutrals-7);
                --color-neutrals-20: var(--neutrals-6);
                --color-neutrals-21: var(--neutrals-5);
                --color-neutrals-22: var(--neutrals-4);
                --color-neutrals-23: var(--neutrals-3);
                --color-neutrals-24: var(--neutrals-2);
                --color-neutrals-25: var(--neutrals-1);
                --color-neutrals-26: var(--neutrals-0);
            }
        }
}

@theme {
    --default-transition-duration: 300ms;
    --default-transition-timing-function: ease-in-out;
    --dir-row: row;
    --dir-row-reverse: row-reverse;
    --dir-column: column;
    --dir-column-reverse: column-reverse;
    --radius-none: 0;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --font-weight-light: 300;
    --font-weight-thin: 100;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    --font-style-normal: normal;
    --font-style-italic: italic;
    --font-family-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
    --font-family-mono: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --text-align-left: left;
    --text-align-center: center;
    --text-align-right: right;
    --text-transform-none: none;
    --text-transform-uppercase: uppercase;
    --text-transform-lowercase: lowercase;
    --text-transform-capitalize: capitalize;
    --white-space-normal: normal;
    --white-space-nowrap: nowrap;
    --white-space-pre: pre;
    --white-space-pre-line: pre-line;
    --white-space-pre-wrap: pre-wrap;
    --word-break-normal: normal;
    --word-break-break-all: break-all;
    --word-break-keep-all: keep-all;
    --word-wrap-normal: normal;
    --word-wrap-break-word: break-word;
    --overflow-wrap: break-word;
    --overflow-wrap-normal: normal;
    --overflow-wrap-break-word: break-word;
    --hyphens-none: none;
    --hyphens-manual: manual;
    --hyphens-auto: auto;
    --text-orientation-mixed: mixed;
    --text-orientation-upright: upright;
    --text-orientation-sideways: sideways;
    --text-rendering-auto: auto;
    --text-rendering-optimizeSpeed: optimizeSpeed;
    --text-rendering-optimizeLegibility: optimizeLegibility;
    --text-rendering-geometricPrecision: geometricPrecision;
    --text-size-adjust-auto: auto;
    --text-size-adjust-none: none;
    --text-underline-position-auto: auto;
    --text-underline-position-under: under;
    --text-underline-offset-auto: auto;
    --text-underline-offset-fromFont: fromFont;
    --text-underline-offset-fromText: fromText;
    --text-underline-style-solid: solid;
    --text-underline-style-double: double;
    --text-underline-style-dotted: dotted;
    --text-underline-style-dashed: dashed;
    --text-underline-style-wavy: wavy;
    --text-underline-color-currentColor: currentColor;
    --text-overline-style-solid: solid;
    --text-overline-style-double: double;
    --text-overline-style-dotted: dotted;
    --text-overline-style-dashed: dashed;
    --text-overline-style-wavy: wavy;
    --text-overline-color-currentColor: currentColor;
    --text-line-through-style-solid: solid;
    --text-line-through-style-double: double;
    --text-line-through-style-dotted: dotted;
    --text-line-through-style-dashed: dashed;
    --text-line-through-style-wavy: wavy;
    --text-line-through-color-currentColor: currentColor;
    --text-decoration-line-none: none;
    --text-decoration-line-underline: underline;
    --text-decoration-line-overline: overline;
    --text-decoration-line-line-through: line-through;
    --text-decoration-style-solid: solid;
    --text-decoration-style-double: double;
    --text-decoration-style-dotted: dotted;
    --text-decoration-style-dashed: dashed;
    --text-decoration-style-wavy: wavy;
    --text-decoration-color-currentColor: currentColor;
    --text-overflow-clip: clip;
    --text-overflow-ellipsis: ellipsis;
    --text-overflow-visible: visible;
    --text-justify-auto: auto;
    --text-justify-interWord: inter-word;
    --text-justify-interCharacter: inter-character;
    --text-indent-none: 0;
    --text-justify-trim-auto: auto;
    --text-justify-trim-compact: compact;
    --text-align-last-auto: auto;
    --text-align-last-left: left;
    --text-align-last-right: right;
    --text-shadow-none: none;
    --text-underline-width: 1px;
    --text-overline-width: 1px;
    --text-line-through-width: 1px;
    --text-decoration-width: 1px;

    --color-text: #000000;
    --color-text-inverse: #ffffff;
    --color-danger: #ff0000;
    --color-danger-text: var(--color-text);
    --color-success: #00ff00;
    --color-success-text: var(--color-text);
    --color-warning: #ffff00;
    --color-warning-text: var(--color-text);
    --color-info: #0000ff;
    --color-info-text: var(--color-text-inverse);
    --color-danger-hover: #d70000;
    --color-success-hover: #00e606;
    --color-warning-hover: #fadd05;
    --color-info-hover: #0609bf;
    --color-progress: #007bff;

    --color-disabled: color-mix(in oklch, var(--color-text), var(--color-neutrals-0) 65%);

    --color-neutrals-0: var(--neutrals-0);
    --color-neutrals-1: var(--neutrals-1);
    --color-neutrals-2: var(--neutrals-2);
    --color-neutrals-3: var(--neutrals-3);
    --color-neutrals-4: var(--neutrals-4);
    --color-neutrals-5: var(--neutrals-5);
    --color-neutrals-6: var(--neutrals-6);
    --color-neutrals-7: var(--neutrals-7);
    --color-neutrals-8: var(--neutrals-8);
    --color-neutrals-9: var(--neutrals-9);
    --color-neutrals-10: var(--neutrals-10);
    --color-neutrals-11: var(--neutrals-11);
    --color-neutrals-12: var(--neutrals-12);
    --color-neutrals-13: var(--neutrals-13);
    --color-neutrals-14: var(--neutrals-14);
    --color-neutrals-15: var(--neutrals-15);
    --color-neutrals-16: var(--neutrals-16);
    --color-neutrals-17: var(--neutrals-17);
    --color-neutrals-18: var(--neutrals-18);
    --color-neutrals-19: var(--neutrals-19);
    --color-neutrals-20: var(--neutrals-20);
    --color-neutrals-21: var(--neutrals-21);
    --color-neutrals-22: var(--neutrals-22);
    --color-neutrals-23: var(--neutrals-23);
    --color-neutrals-24: var(--neutrals-24);
    --color-neutrals-25: var(--neutrals-25);
    --color-neutrals-26: var(--neutrals-26);

    @keyframes mixin {
        from, to {
            --bg: var(--color-transparent);
            --background-color: var(--bg);
            --w: unset;
            --h: unset;
            --width: var(--w);
            --height: var(--h);
            --p: var(--spacing-0);
            --pt: var(--p);
            --pr: var(--p);
            --pb: var(--p);
            --pl: var(--p);
            --px: var(--pl) var(--pr);
            --py: var(--pt) var(--pb);
            --padding: var(--py) var(--px);
            --m: var(--spacing-0);
            --mt: var(--m);
            --mb: var(--m);
            --mr: var(--m);
            --ml: var(--m);
            --mx: var(--ml) var(--mr);
            --my: var(--mt) var(--mb);
            --margin: var(--my) var(--mx);

            width: var(--width);
            height: var(--height);
            padding: var(--padding);
            padding-block: var(--py);
            padding-inline: var(--px);
            margin: var(--margin);
            margin-block: var(--my);
            margin-inline: var(--mx);
            background-color: var(--background-color);
        }

    }

    --animate-mixin: mixin 1s paused;
}
